* {
  padding: 0;
  margin: 0;
}

a:visited {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 600px;
}
.container_shadow-dark {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.container-serch {
  margin-top: 30px;
  padding: 14px 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(to right, #2f80ed, #56ccf2);
}
.container-res {
  margin-top: 40px;
  padding-bottom: 30px;
}
.container-player {
  padding: 15px 0;
  margin-top: 35px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.player-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.serch-input {
  padding: 6px 12px;
  margin-right: 15px;
  font-size: 16px;
  background: none;
  border: none;
  border-bottom: 1px solid#191919;
}
.serch-btn {
  padding: 5px 10px;
  text-transform: uppercase;
  background: #191919;
  color: #ffffff;
  border: none;
  font-size: 16px;
}
.serch-btn:hover {
  cursor: pointer;
}
.container__card {
  margin-top: 10px;
  padding: 10px 10px;
  border-bottom: 1px solid #191919;
  color: #1a1a1a;
}
.container__card * {
  margin: 10px 0;
}
.container__card p {
  font-size: 16px;
}
.artist-title {
  font-size: 20px;
}

.container__track_bad {
  font-size: 14px;
  color: #ea2027;
}

.player-icon {
  margin: 0 10px;
  font-size: 20px;
  color: #9980fa;
}
